.login-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
}

.login-logo {
    width: 250px;
    margin-bottom: 20px;
}