.reparacao-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.reparacao-header-button {
    padding: 11px;
}

.reparacao-form-inputs {
    display: flex;
    gap: 10px;
    margin-bottom: 12px;
}

.reparacao-table td:last-child,
.reparacao-table th:last-child {
    text-align: center;
    vertical-align: middle;
}

.reparacao-servicos label {
    display: block;
    margin-bottom: 5px;
}

.reparacao-servicos-section {
    text-align: left;
}

.checkbox-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem 1.5rem;
    margin: 2rem 0 1.5rem 0;
}

.checkbox-grid label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.reparacao-button {
    flex-grow:initial;
}
.reparacao-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
