.sidebar {
    flex-shrink: 0;
    width: clamp(12rem, 18vw, 14rem);
    height: 100vh;
    background-color: #5f758a;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem 1rem;
    box-sizing: border-box;
    overflow-x: hidden;
    
}

.sidebar-title {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 2rem;
    text-align: center;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sidebar-nav a {
    color: #ecf0f1;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: background 0.3s;
}

.sidebar-nav a.active,
.sidebar-nav a:hover {
    background-color: #34495e;
}

.sidebar-logout {
    margin-top: auto;
}

.logout-btn {
    width: 100%;
    background-color: #e74c3c;
    border: none;
    color: white;
    padding: 0.6rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile-header {
    display: none;
}


@media (max-width: 48em) {
    .sidebar {
        position: fixed;
        width: 100vw;
        height: auto;
        bottom: 0;
        top: auto;
        transform: translateY(100%);
        background-color: #5f758a;
        padding: 1rem;
        z-index: 999;
        overflow-x: hidden;
       
    }

    .sidebar.open {
        transform: translateY(0);
    }

    .sidebar-title {
        display: none;
    }

    .sidebar-nav {
        flex-direction: column;
        align-items: center;
    }

    .logout-btn {
        margin-top: 1rem;
    }

    .mobile-header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 3.75rem;
        background-color: #2c3e50;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;
        z-index: 1000;
    }

    .menu-toggle {
        background: none;
        border: none;
        color: white;
        font-size: 1.5rem;
    }

    .mobile-title {
        font-weight: bold;
    }
}