.materiais-utilizados-page {
  padding: 1rem;
  box-sizing: border-box;
  max-width: 75rem;
  margin: 0 auto;
  width: 100%;
}


.materiais-utilizados-title {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #000;
  text-align: left;
  padding-left: 0.5rem;
  display: block;
}


.materiais-utilizados-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  width: 100%;
  box-sizing: border-box;
  padding-block: 1rem;
}


@media (max-width: 48rem) {
  .materiais-utilizados-page {
    padding-top: 4.5rem;
    
  }
}


@media (min-width: 48rem) {
  .materiais-utilizados-container {
    grid-template-columns: 0.5fr 1fr;
    gap: 2rem;
  }

  .materiais-utilizados-title {
    font-size: 2rem;
    margin-bottom: 3rem;
    padding-left: 0.75rem;
  }
}