.veiculos-grid {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 2rem;

}

.form-column {
  flex: 1 1 22rem;
  min-width: 20rem;
}

.table-column {
  flex: 2 1 40rem;
  min-width: 30rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}